<div class="container news-container">
  <h1>NEWS</h1>
  <div class="news-content" fxLayout="row wrap" fxLayoutGap="16px grid">
    <div class="col" fxFlex.sm="50%" fxFlex.md="50%"  fxFlex.gt-lg="25%" *ngFor="let post of posts | async">
      <app-news-card
      [post] = post>
      </app-news-card>
    </div>
  </div>
</div>
