.news-card {
  border: 1px solid black;
  cursor: pointer;
  height: 100%;
  padding: 0 16px 0 16px;

  img {
    height: 200px !important;
    width: 100% !important;
  }

  .news-card-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    align-items: flex-start;
    justify-content: left;
    font-size: 2em;
    p {
      justify-content: left;
      overflow : hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
    }
  }
}
