<mat-card class="news-card">
  <mat-card-title>
    {{ post.title }}
  </mat-card-title>
  <img src="../../../../assets/images/matheus-ferrero-159633-unsplash.png"/>
  <mat-card-content class="news-card-content">
    <p>
      {{ post.content }}
    </p>
  </mat-card-content>
</mat-card>

