<div id="app">
  <mat-toolbar class="header">
    <h1>BLOG</h1>
  </mat-toolbar>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
  <mat-toolbar class="footer">
    Copyright©2020 Blog Inc.
  </mat-toolbar>
</div>
