.contact-us-form {
  textarea {
    min-height: 200px;
  }

  .action {
    display: flex;

    button {
      margin-right: 15px;
    }

    button:first-child {
      margin-left: auto;
    }
  }
}
