<form class="contact-us-form" #contactUsForm="ngForm">
  <div fxLayout="row wrap" fxLayoutGap.gt-xs="5px grid">
    <div class="col" fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.gt-sm="25%">
      <mat-form-field class="form-group">
        <mat-label for="name">First Name</mat-label>
        <input
        matInput type="text" class="form-control" id="firstName" name="firstName"
        required
        [(ngModel)]="model.firstName"
        #firstName="ngModel"
        >
        <mat-error *ngIf="!firstName.valid || !firstName.pristine">
          Please enter first name
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col" fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.gt-sm="25%">
      <mat-form-field class="form-group">
        <mat-label for="name">Last Name</mat-label>
        <input
        matInput type="text" class="form-control" id="firstName" name="firstName"
        required
        [(ngModel)]="model.lastName"
        #lastName="ngModel"
        >
        <mat-error *ngIf="!lastName.valid || !lastName.pristine">
          Please enter last name
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col" fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.gt-sm="25%">
      <mat-form-field class="form-group">
        <mat-label for="name">Contact Number</mat-label>
        <input
        matInput type="text" class="form-control" id="contactNumber" name="contactNumber"
        required
        [(ngModel)]="model.contactNumber"
        #contactNumber="ngModel"
        >
        <mat-error *ngIf="!contactNumber.valid || !contactNumber.pristine">
          Please enter contact number
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col" fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.gt-sm="25%">
      <mat-form-field class="form-group">
        <mat-label for="name">Email Address</mat-label>
        <input
        matInput type="text" class="form-control" id="emailAddress" name="emailAddress"
        required
        email
        [(ngModel)]="model.emailAddress"
        #emailAddress="ngModel"
        >
        <mat-error *ngIf="!emailAddress.valid || !emailAddress.pristine">
          Please enter valid email address
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col" fxFlex.xs="100%" fxFlex.gt-xs="100%">
      <mat-form-field class="form-group">
        <mat-label for="name">Message</mat-label>
        <textarea
        matInput type="text" class="form-control" id="message" name="message"
        required
        [(ngModel)]="model.message"
        #message="ngModel"
        ></textarea>
        <mat-error *ngIf="!message.valid || !message.pristine">
          Please enter message
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="action">
    <button mat-raised-button [disabled]="!contactUsForm.form.dirty" (click)="clearModel(); contactUsForm.reset()">Clear</button>
    <button mat-raised-button [disabled]="!contactUsForm.form.valid"color="primary" (click)="submitForm()">Send</button>
  </div>
</form>
