/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 18px;
}

.container {
  padding: 0 16px;
}

.mat-form-field {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  body {
    font-size: 16px;
  }
}
